
.fondo {
    background: rgb(252, 252, 252);
    width: 1024px;
    height: 1024px;
   }
.boton1 {
    background: red;
    width: 1024px;
    height: 1024px;
}

.boton2 {
    background: blue;
}

.boton3 {
    box-shadow: rgb(173, 173, 0);
    width: 20px;
    height: 30px;
    background: yellow;

}
